@model GoodsSetViewModel

<div>
    <span>@Model.Goods.Name</span>
    <span>@Model.Goods.Price</span>
    <form asp-controller="Cart"
          asp-action="InsertGoodsSet"
          asp-route-GoodsId="@Model.Goods.Id">
        <input name="Count"/>
        <input name="CouponCode"/>
        <button>Добавить в корзину</button>
    </form>
</div> 