@model IReadOnlyList<Goods>

@foreach (var goods in Model)
{
    <div>
        <a asp-controller="Goods" asp-action="Details" asp-route-id="@goods.Id">@goods.Name</a>
        <span>@goods.Price</span>
    </div>
}